/Kernel/Release/*
/Kernel/*.bi_
/Kernel/*.bin
/DriverPack/Release/*
/DriverPack/*.bin
/DriverPack/*.bi_
/Image/*.iso
/Image/*.ima
/Image/ImageFiles/*
/Tools/*/Release

ipch
Debug

*.txt
*.jpg
*.suo
*.pdb
*.sdf
*.opensdf